/* desktop size */
@media all and (min-width: 1400px) {
    .label {width: calc(100% / 4 - 2*10px);}
    .object {width: calc(100% / 4 - 2*10px);}
    #left {width:80% !important;}
    #right {width:20% !important;}
}

/* laptop size */
@media not all and (min-width: 1400px) {
    .label {width: calc(100% / 3 - 2*10px);}
    .object {width: calc(100% / 3 - 2*10px);}
    #left {width:70% !important;}
    #right {width:30% !important;}
}
