/* desktop size */
@media all and (min-width: 1400px) {
    .label {width: calc(100% / 4 - 1*3px);}
    .object {width: calc(100% / 4 - 1*3px);}
    #left {width:75% !important;}
    #right {width:25% !important;}
}

/* laptop size */
@media not all and (min-width: 1400px) {
    .label {width: calc(100% / 3 - 1*3px);}
    .object {width: calc(100% / 3 - 1*3px);}
    #left {width:70% !important;}
    #right {width:30% !important;}
}
