@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100italic,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100);

* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}
a {
  text-decoration: underline;
  cursor: pointer;
  color: #ffffff;
  font-size: inherit;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
select {
    width: 100%;
    padding: 4px;
	height: 30px;
	border-radius: 0px;
	border: 1px solid #1a1f2b;
	font-size: 14px;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url("../img/down.png") no-repeat right #d0e4f2;
	background-position: right 10px top 6px;
	}
	select option {
	padding: 4px;
		background-color: #d0e4f2;
	font-size: 14px;
	}
  button {
    margin-top: 10px;
    padding: 6px;
	background-color: #4a6491;
	font-size: 14px;
    color: #d0e4f2;
	cursor: pointer;
    border: 0px solid #1a1f2b;
	font-weight: 400;
	-webkit-appearance: none;
	-moz-appearance: none;
	}
.label {
  float:left;
  height:45px;
  background: #4a6491;
  color: #d0e4f2;
  margin-top: 3px;
  margin-left: 3px;
}
.labelvalue {
  float:left;
  margin-left: 20px;
  margin-top: 11px;
  font-size: 16px;
  font-weight: 400;
  width: calc(85% - 20px);
}
.labellang {
  float:right;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  font-variant:small-caps;
  width: calc(15% - 20px);
}

.object {
  float:left;
  height:350px;
  background: #4a6491;
  color: #d0e4f2;
  margin-top: 3px;
  margin-left: 3px;
}
.objvalue {
  float:left;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
  width: auto;
}
.objproperties {
  clear:both;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  font-size:12px;
  font-style: italic;
  font-weight: 300;
}
.objproperties2 {
  clear:both;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size:12px;
  font-style: italic;
  font-weight: 300;
}
.objdepiction {
  margin: 20px;
  float: left;
  width: 80%;
  height: auto;
}
.objdepictionimg {
  position:relative;
  float: left;
  max-height: 150px;
  width:auto;
}
.project {
  float:left;
  /*width: calc(100% / 3 - 2*10px);*/
  height:200px;
  background: #4a6491;
  color: #d0e4f2;
  margin-top: 3px;
  margin-left: 3px;
}
.projectvalue {
  float:left;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
  width: auto;
}
.projectproperties {
  clear:both;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  font-size:12px;
  font-style: italic;
  font-weight: 300;
}
.resource {
  float:left;
  height:200px;
  background: #4a6491;
  color: #d0e4f2;
  margin-top: 3px;
  margin-left: 3px;
}
.resourcevalue {
  float:left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
  width: auto;
}
.resourcetype {
    clear:both;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    font-size:12px;
    font-weight: 700;
}
.resourceproperties {
    clear:both;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    font-size:12px;
    font-style: italic;
    font-weight: 300;
}

#page {
    width:100%;
    height:100%;
    background-color: blue;
}

#left {
    background-color: red;
    float:left;
    height:calc(100%);
}

#right {
    background-color: #d0e4f2;
    float:right;
    height:calc(100%);
}

#navigation {
  background-color: #1a1f2b;
  float: left;
  height: calc(100%);
}

/*#footer {
  background-color: #1a1f2b;
  float: left;
  font-size: 10px;
  font-style: italic;
  font-weight: 300;
  color: #d0e4f2;
  padding: 5px;
  width:calc(100% - 2*5px);
  height:10px;
  line-height: 12px;
  text-align: center;
}*/

#sidebar {
  background-color: #ffffff;
  float: left;
  color: black;
  width:calc(100%);
  height: calc(25%);
  /* width: 100% - 2*padding - border */
}

#filter {
  background-color: #d0e4f2;
  float: left;
  color: #333333;
  width:calc(100%);
  height:calc(100%);
}
#filter-items {
  float: left;
  width:calc(100%);
  height:30px;
}
.itemfilter {
    float:left;
    background-color:#4a6491;
    width: calc(25%);
    height: 100%;
    font-weight: 300;
    text-align: center;
    font-size: 15px;
    line-height: 28px;
    color: #d0e4f2;
    cursor: pointer;
}
.labelfilter {
    float:left;
    background-color:#4a6491;
    width: calc(50%);
    height: 30px;
    font-weight: 300;
    text-align: center;
    font-size: 15px;
    line-height: 28px;
    color: #d0e4f2;
    cursor: pointer;
}


#filter-select {
  float: left;
  width:calc(100%);
}
#filter-properties {
  clear: both;
  float: left;
  width:calc(100%);
  height:calc(100% - 245px)
}

#filterheader {
  background-color: #30395c;
  text-align: center;
  height: 50px;
  width: 100%;
  float: left;
  width:calc(100%);
  cursor: pointer;
  line-height: 50px;
  color: #d0e4f2;
}
#filterheader-properties-language {
  background-color: #30395c;
  float: left;
  color: #d0e4f2;
  width:calc(100%);
  height: 35px;
  line-height: 32px;
  font-weight: 400;
  text-align:center;
}
#filterheader-properties {
  background-color: #30395c;
  float: left;
  color: #d0e4f2;
  width:calc(100%);
  height: 35px;
  line-height: 32px;
  font-weight: 400;
  text-align:center;
}
.filter-select {
  background-color: #4a6491;
  float: left;
  clear:both;
  color: #d0e4f2;
  width:calc(100%);
  height: 30px;
  cursor: pointer;
  border-top: 1px solid #d0e4f2;
  line-height: 27px;
  letter-spacing: 0.05em;
  font-weight: 300;
  font-size:15px;
  padding-top:2px;
  padding-bottom:2px;
  text-align: center;
}
.filter-select-notactive {
  background-color: #85a5cc;
  float: left;
  clear:both;
  width:calc(100%);
  height: 40px;
  cursor: pointer;
  border-bottom: 1px dotted #1a1f2b;
}
/*.filter-properties-language {
  background-color: #85a5cc;
  float: left;
  clear:both;
  color: #1a1f2b;
  width:calc(100% - 2*10px);
  padding:10px;
}*/

#header {
  background-color: #d0e4f2;
  float: left;
  padding: 5px;
  width:calc(100% - 2*5px);
  height:80px;
  /* width: 100% - 2*padding - border */
}
#content {
  background: #d0e4f2;
  float:left;
  /*overflow-y:auto;*/
  width:calc(100%);
  height:calc(100% - 50px);
  /* width: 100% - 2*padding - border */
}
#contentcontent {
  float:left;
  width:calc(100%);
  height:calc(100% - 3px);
  /* width: 100% - 2*padding - border */
}


#landingpage {
  float:left;
  padding: 20px;
  height: calc(100% - 2*20px);
  width: calc(100% - 2*20px);
  /* width: 100% - 2*padding - border */
}

#map { height: 260px; width:100%; float:left;}
#map-attribution {float:left; width:100%; font-size: 12px; margin-top:12px; font-style: italic;}

.nano-slider {
  width: 6px !important;
}
.nano-pane {
  right: 1px !important;
}

#b-empty {
  float:left;
  height: 15px;
  width: calc(100%);
 }
#b-home {
  clear:both;
  position: relative;
  height: 50px;
  width: calc(100% - 3px);
  margin-left: 3px;
  cursor: pointer;
 }

 #search {
     float:left;
     background-color: #85a5cc;
     height: 50px;
     width: calc(100%);
 }
 #searchString {
    border: none;
    outline-width: 0;
    color: #d0e4f2;
    background: 0 0;
    font-size: 24px;
    margin-top: 8px;
    float: left;
    margin-left: 10px;
    width: calc(100% - 2*10px);
 }

.disablediv {
    pointer-events: none;
    opacity: 0.6;
}

.filter-properties {
  background-color: #85a5cc;
  float: left;
  clear:both;
  color: #1a1f2b;
  width:calc(100% - 2*10px);
  height: calc(100% - 35px - 2*10px);
  padding:10px;
}


#filter-lang-wrapper {
    float:left;
    width: calc(100%);
}

#filter-language-properties {
  background-color: #85a5cc;
  float: left;
  clear:both;
  color: #1a1f2b;
  width:calc(100% - 2*10px);
  padding:10px;
  height: 40px;
}

#filter-properties-wrapper {
    background-color: orange;
    height: calc(100% - 95px);
    float:left;
    clear:both;
    width:calc(100%);
}

#filter-results-wrapper {
  float:left;
  background-color: #85a5cc;
  width: 100%;
  height: calc(10%);
}

#year {
  background-color:transparent;
  border:none;
  padding-bottom:20px;
}

input::-webkit-input-placeholder {
color: #4a6491 !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: #4a6491 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: #4a6491 !important;
}

input:-ms-input-placeholder {
color: #4a6491 !important;
}
