@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100italic,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100);

* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  letter-spacing: 0.02em;
}
a {
  text-decoration: underline;
  cursor: pointer;
  color: white;
  font-size: inherit;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
select {
    width: 100%;
    padding: 8px;
		height: 50px;
		border-radius: 4px;
		border: 1px solid #555;
		font-size: 14px;
		line-height: 1.2;
		-webkit-appearance: none;
		-moz-appearance: none;
		background: url("../img/down.png") no-repeat right #d0e4f2;
		background-position: right 10px top 12px;
	}
	select option {
		padding: 3px;
		background-color: #d0e4f2;
		font-size: 14px;
	}
.label {
  float:left;
  height:100px;
  background: #4a6491;
  color: white;
  margin-top: 3px;
  margin-left: 3px;
}
.labelvalue {
  float:left;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
  width: auto;
}
.labelproperties {
  clear:both;
  float: left;
  margin-left: 20px;
  margin-top: 15px;
  font-size:12px;
  font-style: italic;
  font-weight: 300;
}
.object {
  float:left;
  height:350px;
  background: #4a6491;
  color: white;
  margin-top: 3px;
  margin-left: 3px;
}
.objvalue {
  float:left;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
  width: auto;
}
.objproperties {
  clear:both;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  font-size:12px;
  font-style: italic;
  font-weight: 300;
}
.objproperties2 {
  clear:both;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size:12px;
  font-style: italic;
  font-weight: 300;
}
.objdepiction {
  margin: 20px;
  float: left;
  width: 80%;
  height: auto;
}
.objdepictionimg {
  position:relative;
  float: left;
  max-height: 150px;
  width:auto;
}
.project {
  float:left;
  /*width: calc(100% / 3 - 2*10px);*/
  height:200px;
  background: #4a6491;
  color: white;
  margin-top: 3px;
  margin-left: 3px;
}

#page {
    width:100%;
    height:100%;
    background-color: blue;
}

#left {
    background-color: red;
    float:left;
    width:65%;
    height:calc(100% - 20px - 2*10px);
}

#right {
    background-color: #d0e4f2;
    float:right;
    padding: 10px;
    width: calc(30% - 30px - 2*10px);
    height:calc(100% - 20px - 2*10px - 2*10px);
}

#navigation {
  background-color: #1a1f2b;
  float: left;
  width:60px;
  height: calc(100% - 20px - 2*10px);
}

#sidebar {
  background-color: #ffffff;
  float: left;
  color: black;
  width:calc(100%);
  height: calc(25%);
  /* width: 100% - 2*padding - border */
}

#filter {
  background-color: #d0e4f2;
  float: left;
  color: #333333;
  width:calc(100%);
  height: calc(90%);
}

.wrapper {
  margin-top: 10px;
  float:left;
  width:calc(100%);
  border-bottom: 1px dotted grey;
}

#filter-select {
  float: left;
  width:calc(100%);
}
#filter-properties {
  clear:both;
  float: left;
  width:calc(100%);
}

#filterheader {
  background-color: #1a1f2b;
  text-align: center;
  height: 40px;
  width: 100%;
  float: left;
  width:calc(100%);
  cursor: pointer;
  line-height: 50px;
}
#filterheader-properties-language {
  background-color: #1a1f2b;
  float: left;
  color: white;
  width:calc(100% - 15px);
  height: 40px;
  line-height: 35px;
  font-weight: 700;
  padding-left: 15px;
}
#filterheader-properties {
  background-color: #1a1f2b;
  float: left;
  color: white;
  width:calc(100% - 15px);
  height: 40px;
  line-height: 35px;
  font-weight: 700;
  padding-left: 15px;
}
.filter-select {
  background-color: #85a5cc;
  float: left;
  clear:both;
  color: #1a1f2b;
  width:calc(100%);
  height: 40px;
  cursor: pointer;
  border-bottom: 1px dotted grey;
  line-height: 35px;
  text-align: center;
  font-weight: 700;
}
.filter-select-notactive {
  background-color: #85a5cc;
  float: left;
  clear:both;
  color: grey;
  width:calc(100%);
  height: 40px;
  cursor: pointer;
  border-bottom: 1px dotted grey;
}
.filter-properties-language {
  background-color: #85a5cc;
  float: left;
  clear:both;
  color: #1a1f2b;
  width:calc(100% - 2*20px);
  padding:20px;
}
.filter-properties {
  background-color: #85a5cc;
  float: left;
  clear:both;
  color: #1a1f2b;
  width:calc(100% - 2*20px);
  height: 300px;
  padding:20px;
}

#header {
  background-color: #d0e4f2;
  float: left;
  padding: 5px;
  width:calc(100% - 2*5px);
  height:80px;
  /* width: 100% - 2*padding - border */
}
#content {
  background: #d0e4f2;
  float:left;
  /*overflow-y:auto;*/
  width:calc(100%);
  height:calc(100%);
  /* width: 100% - 2*padding - border */
}
#contentcontent {
  float:left;
  width:calc(100%);
  height:calc(100% - 10px);
  /* width: 100% - 2*padding - border */
}
#footer {
  background-color: #1a1f2b;
  float: left;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  color: #d0e4f2;
  padding: 10px;
  width:calc(100% - 2*10px);
  height:20px;
  line-height: 20px;
  text-align: center;
  /* width: 100% - 2*padding - border */
}

#landingpage {
  float:left;
  padding: 20px;
  height: calc(100% - 2*20px);
  width: calc(100% - 2*20px);
  /* width: 100% - 2*padding - border */
}

#map { height: 260px; width:100%; float:left;}
#map-attribution {float:left; width:100%; font-size: 12px; margin-top:12px; font-style: italic;}

.nano-slider {
  width: 5px !important;
}
.nano-pane {
  right: 3px !important;
}

#b-labels {
  height: 35px;
  width: 35px;
  background-size: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.b-labels-active {
  background-image: url("../img/icon-label-active.png");
}
.b-labels-notactive {
  background-image: url("../img/icon-label-notactive.png");
}
#b-projects {
  height: 35px;
  width: 35px;
  background-size: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.b-projects-active {
  background-image: url("../img/icon-project-active.png");
}
.b-projects-notactive {
  background-image: url("../img/icon-project-notactive.png");
}
#b-objects {
  height: 35px;
  width: 35px;
  background-size: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.b-objects-active {
  background-image: url("../img/icon-object-active.png");
}
.b-objects-notactive {
  background-image: url("../img/icon-object-notactive.png");
}

.disablediv {
    pointer-events: none;
    opacity: 0.6;
}

#filter-properties {
    background-color: transparent;
    height: calc(100% - 20px - 2*10px - 115px - 20px - 2*10px);
}

#filter-results-wrapper {
  float:left;
  background-color: #85a5cc;
  width: 100%;
  height: calc(10%);
}
