* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  letter-spacing: 0.02em;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-color: white;
}
h1 {
  font-size: 30px;
  font-weight: normal;
}
h2 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 50px;
  margin-top: 20px;
  margin-left: 20px;
  display: block;
}
@media screen and (max-width: 1600px) {
  h2 {
    font-size: 26px;
  }
}
h3 {
  font-size: 19px;
  margin-bottom: 5px;
  margin-top: 20px;
  margin-left: 20px;
  display: block;
  float: left;
}
@media screen and (max-width: 1600px) {
  h3 {
    font-size: 20px;
  }
}
h4 {
  font-size: 16px;
  margin-left: 20px;
  display: block;
  margin-bottom: 14px;
}
h5 {
  float: left;
  font-weight: bold;
  font-style: italic;
}
h6 {
  margin-bottom: 20px;
}
.label {
  float:left;
  width: calc(100% / 4 - 2*10px);
  height:80px;
  background: #1c86ee;
  color: white;
  margin: 10px;
}
.labelvalue {
  float:left;
  margin-left: 20px;
  margin-bottom: 8px;
  margin-top: 40px;
  font-weight: 700;
  width: auto;
}
.labellang {
  float: right;
  margin-right: 20px;
  margin-bottom: 33px;
  margin-top: 12px;
  width: auto;
  font-size:14px;
  text-transform: uppercase;
  letter-spacing: .08em;
  font-style: italic;
}
.object {
  float:left;
  width: calc(100% / 3 - 2*10px);
  height:260px;
  background: #bcee68;
  color: white;
  margin: 10px;
}
.objtitle {
  margin: 8px 0 0 8px;
  font-size: 19px;
  float:left;
  width: 80%;
  font-weight: 700;
  letter-spacing: .02em;
  color: black;
  height: auto;
}
.objdesc {
  margin: 8px 0 0 8px;
  float:left;
  width: 80%;
  height: auto;
  letter-spacing: .02em;
  color: black;
}
.objdepiction {
  margin: 18px 0 0 18px;
  float: left;
  width: 80%;
  height: auto;
}
.objdepictionimg {
  position:relative;
  float: left;
  max-height: 120px;
  width:auto;
}
#header {
  float: left;
  font-size: 30px;
  font-weight: normal;
  margin-top: 20px;
  margin-left: 20px;
  color: darkblue;
}
#content {
  clear: both;
  border:1px solid grey;
  padding: 10px;
  margin: 20px;
  float:left;
  position:relative;
  width:calc(100% - 2*30px);
}
#landingpage {
  float:left;
  width: calc(100% - 2*20px);
  height: auto;
  margin: 10px;
  padding: 10px;
  background: red;
  color: black;
}
